@charset "UTF-8";

body, html, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: #82888a;
    background: #2c2d31;
}

* {
    box-sizing: border-box;
}

.header {
    padding-left: 20px;
    padding-top: 20px;
}

.header span {
    outline: none;
    border: none;
    color: #e6629a;
    font-size: 20px;
    background: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.title-wrapper {
    position: relative;
    margin: 0 15px;
}

.title-wrapper .menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    font-size: 16px;
}

.title-wrapper .menu button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #82888a;
}

.title-wrapper .menu-list {
    position: absolute;
    background: white;
    right: 5px;
    top: 35px;
    display: none;
    z-index: 1000;

}

.title-wrapper .menu-item {
    padding: 5px 40px;
    font-size: 16px;
    cursor: pointer;

    -webkit-transition: all 0.06s ease-in;
    -o-transition: all 0.06s ease-in;
    transition: all 0.06s ease-in;
}

.title-wrapper .menu-item:hover, .title-wrapper .menu-selected {
    background: rgba(1, 1, 1, 0.07);
    color: #e6629a;
}

.title {
    margin: 25px 0 15px 0;
    font-size: 20px;
    text-align: center;
    color: #62686a;
}

.title:before {
    content: '\230A';
    margin-right: 3px;
}

.title:after {
    content: '\2309';
    margin-left: 3px;
}

.content {
    text-align: center;
    width: 100%;
}

.content-wrapper {
    max-width: 991px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.photo-list {
    width: 100%;
    padding: 0px 15px 15px 15px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.photo-list .photo-box {
    padding: 10px 5px;
    position: relative;
}

.photo-list .photo-info {
    position: absolute;
    bottom: 0;
    padding: 10px 5px;
    background: rgba(1, 1, 1, 0.5);
    color: white;
    line-height: 1.5em;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.photo-list .info-wrapper {
    height: auto;
    overflow-y: scroll;
    margin-right: -50px;
    padding-right: 50px;
    overflow-x: hidden;

}

.photo-list img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}


@media (min-width: 1750px) {
    .photo-list {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }

    .content-wrapper {
        max-width: 1200px;
    }
}

@media (max-width: 768px) {
    .photo-list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 500px) {
    .photo-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 320px) {
    .photo-list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}